	*{
				margin:0;
				padding:0;
			}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,form,fieldset,input,textarea,blockquote{padding:0; margin:0; font-size:14px; line-height:1.5; color:#000;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,input,textarea,span,select,a,button{ font-family: 'microsoft yahei','微软雅黑',Verdana,Arial,Helvetica,sans-serif !important;}
			a{
				text-decoration: none;
			}
			#whole{
				/*background-color: grey;*/
				width:1200px;
				margin:0 auto;
			}
			h1{
				font-weight: bold;
				color:black;
			}
			header{
				height:167px;
				width:100%;
				background-image:url(image/top.png);
				background-size: 100%;
				position:relative;
			}
			header img{
				position:absolute;
				width:590px;
		        top:49px;
			}
			nav{
				width:100%;
				height:58px;
				background-color: #d3000c;
			}
			nav ul{
				background-color: #d3000c;
				width:1300px;
				height:100%;
				text-align: center;		
			}
			nav ul li{
				float:left;
				width:240px;
				background-color:#d3000c;
				height:100%;
				list-style: none;
				
				
			}
			nav ul li a{
				text-decoration: none;
				line-height: 58px;
				font-size: 25px;
				color:white;
				font-family: "微软雅黑";
				font-weight:bold;
			}
			section{
				width:1200px;
				margin:0 auto;
				/*margin-left:100px;*/
				/*background-color: orange;*/
				height:360px;
				/*margin-top: 20px;*/
			}
			aside{
				float:left;
				width:600px;
				/*background-color: green;*/
				height:100%;	
			}
			nav ul li a:hover{
				color:#fcce8f;
			}
			.active{
				color:#fcce8f;
			}
			aside img{
				float:left;
				width:38px;
				height:30px;
				margin-top: 5px;
			}
			#title{
				width:500px;
				height:40px;
			}
			aside h1{
				font-family: "微软雅黑";
				font-size: 28px;
				margin-left: 10px;
				float:left;
			}
			aside p{
				font-size: 16px;
				font-family:Regular;
				/*margin-left: -7px;*/
				margin-top: 6px;
			}
			article{
				border:1px solid #d7a865;
				height:120px;
				font-size: 17px;
				margin-top: 33px;
				padding-left: 15px;
				width:585px;
				position:relative;
				/*margin-left: -7px;*/
			}
			article p{
				margin-top: -15px;
				margin-left: 10px;
				line-height:29px;
			}
			article a{
				position:absolute;
				bottom:10px;
				left:510px;
				font-size: 13px;
				color:#004276;
				}
			h5{
				width:170px;
				height:35px;
				background-color: #D1a871;
				font-size: 18px;
				margin-top: -20px;
				line-height:35px;
				text-align: center;
				color: white;
			}
			.bottom-link{
				width:620px;
				
				margin-top: 15px;
				/*background-color: #f2f2f2;*/
				height:35px;
			}
			.bottom-link a{
				height:39px;
				font-size: 15px;
				border:none;
				color:grey;
				margin-right: 5px;
				background-color: #f2f2f2;
				line-height:39px;
				display:block;
				float:left;
				padding:0 30px;
			}
			button.third{
				width:175px;
			}
			#left{
				width:320px;
				/*background-color: blue;*/
				height:330px;
				float:left;
				margin-top: 30px;
			}
			#activity{
				width:1200px;
				height:480px;
			/*	background-color: yellow;*/
				margin:0 auto;
				padding:1px;
			}
			#left img{
				width:275px;
				height:345px;
				/*margin-top:30px;*/
				float:left;
				
			}
			.title{
				background-image: url(image/company.png);
				height:50px;
				width:390px;
				background-size: 100%;
				margin-top: 35px;
				background-size: 100%;
				background-repeat: no-repeat;
				margin-left:-10px;
			}
			#right{
				height:330px;
				/*background-color: orange;*/
				margin-top:30px ;
			}
			#right h1{
				font-size: 29px;
				display:inline;
				float:left;
			}
			.active{
				width:108px;
				height:25px;
				margin-left: 5px;
				margin-top: 8px;
			}
			#right span{
				font-family: "微软雅黑";
				font-size: 16px;
				margin-left: 10px;
			}
			#activity1{
				width:1200px;
				height:373px;
			/*	background-color: green;*/
				margin:0 auto;
				padding:1px;
			}
			#activity2{
				width:1200px;
				height:170px;
				background-color: #f8f8f8;
				margin:10px auto;
				padding:1px;
			}
			#activity2 li{
				height:40px;
			}
			.menu_left{
			/*	background-color: blue;*/
				width:450px;
				margin-left: 55px;
				float:left;
				margin-top:-10px;
			}
			.menu_right{
		/*		background-color: blue;*/
				width:450px;
				margin-left: 150px;
				float:right;
				margin-top:-10px;
			}
			#activity2 a{
				font-size: 18px;
			}
			#activity3{
				width:1200px;
				height:995px;
				/*background-color: green;*/
				margin:50px auto;
			}
			#line-left{
				width:880px;
				height:950px;
				/*background-color: mediumpurple;*/
				float:left;
			}
			.line{
				width:840px;
				height:210px;
				border-bottom:1px solid #f6f6f6;
			}
			.line img{
				margin-top: 30px;
			}
			.line b{
				margin-top: -150px;
				display: block;
				margin-left: 225px;
			}
			.line p{
				margin-left:225px ;
				margin-top: 5px;
			}
			.line span{
				display:block;
				margin-left:225px;
				margin-top: 35px;
				color:#004276;
			}
			.time{
				float:right;
				margin-top: -25px;
				color:#004276;
			}
			#search{
				width:490px;
				height:50px;
				background-color: #f2f2f2;
				margin:0 auto;
			}
			#search a{
				display:block;
				line-height: 50px;
				text-align: center;
				color:black;
			}
			#line-right{
				width:320px;
				height:950px;
				/*background-color: yellow;*/
				float:left;
			}
			#line-right span img{
				margin-left: 75px;
			}
			.info_1{
				width:100%;
				height:260px;
			/*	background-color: mediumvioletred;*/
			}
			.info_2{
				width:100%;
				height:260px;
				/*background-color: mediumvioletred;*/
				margin-top: 15px;
				
			}
			.info_3{
				width:100%;
				height:260px;
				/*background-color: mediumvioletred;*/
				margin-top: 20px;
			}
			#more_vedio{
				width:100%;
				height:50px;
				background-color: #f2f2f2;
				margin:0 auto;
			}
			#more_vedio a{
				display:block;
				text-align: center;
				line-height: 50px;
				color:black;
				margin-top: 25px;
			}
			footer{
				width:1200px;
				height:225px;
				background-color: #e2e2e2;
				margin:-50px auto;
				padding:1px;
			}
